* {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 1170px;
    margin: auto;
}

body {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../imgs/background.jpeg");
    height: 100vh;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    position: relative;
}

.nav-area {
    float: right;
    list-style: none;
    margin-top: 30px;
}

.nav-area li {
    display: inline-block;
}

.nav-area li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 20px;
    font-family: poppins;
    font-size: 16px;

}

.nav-area li a:hover {
    background: #fff;
    color: #333;
}

.logo img {
    width: 100px;
    float: left;
    height: auto;
}

.welcome-text {
    position: absolute;
    width: 600px;
    height: 300px;
    margin: 20% 30%;
    text-align: center;
    color: #fff;

}



form{
    margin:0.5rem 0;
    width: 50%;
    position: absolute;
    top: 20%;
    left: 25%;
}

form label{
    font-weight: bold;
    display: block;
    margin:0.5rem 0 0.5rem 0;
    color: #fff;
  }


  form input {
    display: block;
    width: 100%;
    border: 1px solid #ccc;
    font: inherit;
    line-height: 1.5rem;
    padding: 0 0.25rem;
  }
  
   form input:focus {
    outline: none;
    background: #fad0ec;
    border-color: #8b005d;
  }